.navbar {
    background-color: #333;
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        list-style-type: none;  

        a {
            text-decoration: none;
            color: #f4f4f4;
            padding: 10px 20px;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;  // White color for text on hover
                background-color: #ff7043;  // Subtle orange background
            }

            &:visited {
                color: #ccc;  // Lighter color for visited links
            }
        }
    }
}
